* {
    margin: 0;
    padding:0;
    scrollbar-width:none;
    -ms-overflow-style: none;
    touch-action: none;
    
}
html, body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/puzzle_bg.png);
    background-size: 100% 100%;
    z-index: -2;
}
.scrollEle {
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    
}
.pframe{
    width: 79.02vw;
    height: 105vw;
    background-image: url(../img/puzzle_frame.png);
    background-size: cover;
    position: fixed;
    z-index: -1;
    left: 50%;
    top:47%;
    transform: translate(-50%,-50%);
}
#puzzle {
    width: 105vw;
    height: 210vw;
    position: absolute;
    left: 50%;
    top: 62%;
    transform: translate(-50%,-50%);
    z-index: 1000;
}

g {
    transform-origin:bottom right;
}
.move {
    transition: width 0.3s, height 0.3s,transform 0.3s;
    background-size:cover ;
}
#p_back {
    width: 22vw;
    height: 10.375vw;
    background-image: url(../img/puzzle_back.png);
    background-size: cover;
    position: absolute;
    left: 18vw;
    bottom: 8vh;
}

#p_tip {
    width: 22vw;
    height: 10.375vw;
    background-image: url(../img/puzzle_tip.png);
    background-size: cover;
    position: absolute;
    right: 18vw;
    bottom: 8vh;

}