* {
    margin: 0;
    padding:0;
    scrollbar-width:none;
    -ms-overflow-style: none;
}
html ,body{
    width: auto;
    height:100vh;
    /* overflow: hidden; */
}
/* #load {
    width: 100%;
    height: 100%;
    background: none;
} */
#loading {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #30708d;
    /* opacity:0 */
    pointer-events: none;
    
    z-index: 1010;
}
/* .loader{
    position: absolute;
    text-align: center;
    padding: 1em;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    vertical-align: top;
    z-index: 1004;
} */
.loader{
    width: 20vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition:1.5s
}

svg path,
svg rect{
  fill: #fff;
}
/* body{
    width: auto;
    height:100vh;
    
} */
/* .dnone {
    display: none;
} */
/* .outer {
    width: 550vw;
    height: 100%;
    position: relative;
} */
.page1 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    transition: 1s;
    z-index: 1005;

}

/* video {
    height: 100%;   
    position: absolute;
    bottom: 0;
    left: 50%;
    transform:translateX(-50%);
    pointer-events: none;
    z-index: 1002;
} */
#open {
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(1.2);
    background-image: url('../images/sprite.jpg');
    width: 400px;
    height: 640px;
    /* animation: anim1 5s 2s steps(84) both; */
    background-size: cover;
    z-index: 1000;
    pointer-events: none;
    /* transition: 0.2s; */
}
/* @keyframes anim1 {
    from{
        background-position: 0px
    }
    to { background-position: -33600px; }
} */
/* @keyframes anim2 {
    from{
        background-position: -33600px
    }
    to { background-position: -42800px; }
} */
@keyframes anim1 {
    from{
        background-position: 0px
    }
    to { background-position: -30400px; }
}
@keyframes anim2 {
    from{
        background-position: -30400px
    }
    to { background-position: -37200px; }
}
#opbtn {
    width: 60vw;
    height: 19.2vw;
    /* border: 1px solid #000; */
    position: absolute;
    bottom: 40vh;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.8s;
    opacity: 0;
    z-index: 1003;
    background-image: url("../images/button.png") ;
    background-size:cover;
}

.white {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    transition: all 1s;
    z-index: 1002;
    background: #fff;
    pointer-events: none;
}
.page2 {
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 600vw;
    /* display:none; */
    z-index: -999;
    /* transition: 1s; */
    /* opacity: 0; */
}
.slide{
    position: absolute;
    height: 100vh;
}
.img-b {
    position: absolute;
    /* border:10px solid red; */
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    width: 84vw;
    height: 112vw;
    /* z-index: 1000; */
   
}
.pic-b {
    position: absolute;
    width: 66vw;
    height: 88vw;
    top: 7.5vw;
    left: 9vw;
}
.img-s {
    position: absolute;
    /* border:10px solid red; */
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    width: 75vw;
    height: 100vw;
    /* z-index: 1000; */
       
}
.pic-s {
    position: absolute;
    width: 58.5vw;
    height: 78vw;
    top: 7vw;
    left: 8vw;
}
/* .img::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 400px;
    background-image: url(../images/frame.png);
    z-index: 999;
} */
.one {
    /* display: inline-block; */
    padding-left:50vw;
    background: url(../images/wall1-l.png) no-repeat;
    background-size: 55vh;
    height: 100vh;
    z-index:1000;
    left: 0;
    /* bottom: 2vh; */
}
.one-r {
    display: inline-block;
    padding-right:60vw;
    background: url(../images/wall1.png) no-repeat right;
    background-size: calc(55vh + 3px);
    /* z-index:1000; */
    height: 100vh;
    /* box-shadow:30px 0 30px 0 rgba(255,255,255,.7) inset; */
}
.ione {
    background-image: url(../images/frame.png);
    background-size:contain;
    left: 47%;
    top: 45%;
}

.two {
    width: 150vw;
    background-image: url(../images/wall2.png);
    background-size:cover;
    z-index: 997;
    left: 75vw;
}
.itwo {
    background-image: url(../images/frame.png);
    background-size:contain;
    left: 50%;
    top: 35%
}
.three {
    padding-left: 60vw;
    background: url(../images/wall3-l.png) no-repeat;
    background-size:67vh;
    height: 100vh;
    z-index:999;
    left:230vw;
    /* bottom: 10vw; */
}
.three-r {
    display: inline-block;
    padding-right:70vw;
    background: url(../images/wall3.png) no-repeat right;
    background-size: 73vh;
    /* z-index:1000; */
    height: 100vh;
}
.ithree {
    background-image: url(../images/frame.png);
    background-size:contain;
    left: 46.5%;
    top: 42%;
}
.four {
    width: 150vw;
    background-image: url(../images/wall4.png);
    background-size:cover;
    z-index:997;
    left: 310vw;
}
.ifour {
    background-image: url(../images/frame.png);
    background-size:contain;
    left: 48%;
    top: 30%;
}
.five {
    display: inline-block;
    padding-left: 65vw;
    background: url(../images/wall5-l.png);
    background-size:67vh;
    height: 100vh;
    z-index:999;
    left: 510vw;
}
.ifive {
    background-image: url(../images/frame.png);
    background-size:contain;
    left: 50.5%;
    top: 45%;
}
.five-r {
    display: inline-block;
    padding-right:70vw;
    background: url(../images/wall5.png) no-repeat right;
    background-size: 72vh;
    /* z-index:1000; */
    height: 100vh;
}
.six {
    width: 140vw;
    background: url(../images/wall6.png) no-repeat right;
    background-size:cover;
    z-index:998;
    left: 530vw;
}
.isix {
    background-image: url(../images/frame.png);
    background-size:contain;
    left: 55%;
    top: 40%;
}
.seven {
    width: 140vw;
    background: url(../images/wall6.png) no-repeat right;
    background-size:cover;
    z-index:997;
    left: 480vw;
}
::-webkit-scrollbar{
    display: none;
}

.plant {
    position: absolute; 
}
.pone {
    z-index: 1000;
    bottom: 0vh;
    left: 1vw;
    width: 100vw;
}
.ptwo {
    z-index: 998;
    bottom: 13vh;
    right: 0vw;
    width: 65vw;
}
.pthree {
    z-index: 999;
    bottom: 2vh;
    left: 35vw;
    width: 108vw;
}
.pfour {
    z-index: 999;
    bottom: 23vh;
    left: 40vw;
    width: 60vw;
}
.pfive {
    z-index: 999;
    bottom: -3vh;
    right: 10vw;
    width: 30vw;
}
.psix {
    z-index: 996;
    bottom: 3vh;
    right: -35vw;
    width: 70vw;
}
.light {
    /* display: inline-block; */
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    pointer-events: none;
}
.ltwo {
    left: 21%;
    top: -3vh;
    
}
.lthree {
    left: 25%;
    top: -1vh;
}
.lfour {
    left: 34%;
    top: -5vh;
}
.lfive {
    left: 48%;
}
.lsix {
    left: 40%;
    top: -1vh;
}
/* #floor{
    position: absolute;
    background-image: url("../images/floor.png");
    background-size: cover;
    width:1400vw;
    height: 40vh;
    bottom: 0;
    right: 0;
    z-index: 995;
} */

#flrdiv {
    position: absolute;
    height: 100vh;
    width: 120vw;
    /* background-image: url(../images/6.png); */
    /* background-size:cover; */
    z-index:995;
    left: 775vw;
    
}
#floor{
    position: absolute;
    background-image: url("../images/floor.png");
    background-size: contain;
    width:1000vw;
    height: 45vh;
    bottom: 0;
    right: 0;
}
#title {
    font-family:sans-serif;
    text-align: center;
    font-size: 2em;
    padding-top: 40px;
    padding-bottom: 30px;
}
#intro {
    width: 75vw;
    margin: 10px auto;
    text-indent: 2em;
    text-align: justify;
    font-size: 1em ;
    letter-spacing: 1px;
    line-height: 1.7em;

}