* {
    margin: 0;
    padding:0;
    scrollbar-width:none;
    -ms-overflow-style: none;
}
html ,body{
    width: auto;
    height:100vh;
}

#loading {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #30708d;
    pointer-events: none;
    /* 记得删掉 */
    /* display: none; */
    z-index: 1010;
}

.loader{
    width: 20vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition:1.5s
}
.page1 {
    /* 记得删掉 */
    /* display: none; */
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    transition: 1s;
    z-index: 1005;

}

#open {
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(1.2);
    /* background-image: url('../images/sprite.jpg'); */
    width: 400px;
    height: 640px;
    background-size: cover;
    z-index: 1000;
    pointer-events: none;
    overflow: hidden;
}
#openani {
    height: 100%;
    transition: 1s;
}
@keyframes anim1 {
    from{
        /* background-position: 0px */
        transform: translateX(0px);
    }
    to { 
        /* background-position: -30400px;  */
        transform: translateX(-30400px);
    }
}
@keyframes anim2 {
    from{
        transform: translateX(-30400px);
    }
    to { transform: translateX(-37200px);}
}
#opbtn {
    width: 55vw;
    height: 17.6vw;
    position: absolute;
    bottom: 40vh;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.8s;
    opacity: 0;
    z-index: 1003;
    background-image: url("../images/button.png") ;
    background-size:cover;
}

.white {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    transition: all 1s;
    z-index: 1002;
    background: #fff;
    pointer-events: none;
}
.page2 {
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 600vw;
    z-index: 1000;
}
.slide{
    position: absolute;
    height: 100vh;
}
.img-b {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    width: 79vw;
    height: 112vw;
   
}

.pic-b {
    position: absolute;
    width: 65.25vw;
    height: 87vw;
    top: 18vw;
    left: 6.2vw;
}
.img-s {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    width: 70.5vw;
    height: 100vw;
       
}
.pic-s {
    position: absolute;
    width: 57.75vw;
    height: 77vw;
    top: 16.3vw;
    left: 5.8vw;
}
.mask {
    position: absolute;
    width: 50%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* background: #000; */
    display: flex;
    flex-flow: column;
    justify-content:center;
    align-items: center;
}
.mask #click {
    /* display: inline-block; */
    width: 22%;
}
.mask #clrm {
    /* display: inline-block; */
    width: 57%
    
}

.one {
    padding-left:50vw;
    background: url(../images/wall1-l.png) no-repeat;
    background-size: 55vh;
    height: 100vh;
    z-index:1000;
    left: 0;
}
.one-r {
    display: inline-block;
    padding-right:60vw;
    background: url(../images/wall1.png) no-repeat right;
    background-size: calc(55vh + 3px);
    height: 100vh;
}
.ione {
    background-image: url(../images/frame1.png);
    background-size:contain;
    left: 47%;
    top: 45%;
}

.two {
    width: 150vw;
    background-image: url(../images/wall2.png);
    background-size:cover;
    z-index: 997;
    left: 75vw;
}
.itwo {
    background-image: url(../images/frame2.png);
    background-size:contain;
    left: 50%;
    top: 35%
}
.three {
    padding-left: 60vw;
    background: url(../images/wall3-l.png) no-repeat;
    background-size:67vh;
    height: 100vh;
    z-index:999;
    left:230vw;
}
.three-r {
    display: inline-block;
    padding-right:70vw;
    background: url(../images/wall3.png) no-repeat right;
    background-size: 73vh;
    height: 100vh;
}
.ithree {
    background-image: url(../images/frame3.png);
    background-size:contain;
    left: 46.5%;
    top: 42%;
}
.four {
    width: 150vw;
    background-image: url(../images/wall4.png);
    background-size:cover;
    z-index:997;
    left: 310vw;
}
.ifour {
    background-image: url(../images/frame4.png);
    background-size:contain;
    left: 48%;
    top: 30%;
}
.five {
    display: inline-block;
    padding-left: 65vw;
    background: url(../images/wall5-l.png);
    background-size:67vh;
    height: 100vh;
    z-index:999;
    left: 510vw;
}
.ifive {
    background-image: url(../images/frame5.png);
    background-size:contain;
    left: 50.5%;
    top: 45%;
}
.five-r {
    display: inline-block;
    padding-right:70vw;
    background: url(../images/wall5.png) no-repeat right;
    background-size: 72vh;
    height: 100vh;
}
.six {
    width: 140vw;
    background: url(../images/wall6.png) no-repeat right;
    background-size:cover;
    z-index:998;
    left: 530vw;
}
.isix {
    background-image: url(../images/frame6.png);
    background-size:contain;
    left: 60%;
    top: 40%;
}
.seven {
    width: 140vw;
    background: url(../images/wall6.png) no-repeat right;
    background-size:cover;
    z-index:997;
    left: 480vw;
}
::-webkit-scrollbar{
    display: none;
}

.plant {
    position: absolute; 
}
.pone {
    z-index: 1000;
    bottom: 0vh;
    left: 1vw;
    width: 100vw;
}
.ptwo {
    z-index: 998;
    bottom: 13vh;
    right: 0vw;
    width: 65vw;
}
.pthree {
    z-index: 999;
    bottom: 0vh;
    left: 30vw;
    width: 108vw;
}
.pfour {
    z-index: 999;
    bottom: 20vh;
    left: 50vw;
    width: 50vw;
}
.pfive {
    z-index: 999;
    bottom: -1vh;
    right: 10vw;
    /* width: 40vw; */
    height: 25vh;
}
.psix {
    z-index: 996;
    bottom: 6vh;
    left: 100vw;
    width: 25vw;
}
.light {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    pointer-events: none;
}
.ltwo {
    left: 21%;
    top: -3vh;
    
}
.lthree {
    left: 25%;
    top: -1vh;
}
.lfour {
    left: 34%;
    top: -5vh;
}
.lfive {
    left: 48%;
}
.lsix {
    left: 40%;
    top: -1vh;
}

#flrdiv {
    position: absolute;
    height: 100vh;
    width: 120vw;
    z-index:995;
    left: 775vw;
    
}
#floor{
    position: absolute;
    background-image: url("../images/floor.png");
    background-size: contain;
    width:1000vw;
    height: 45vh;
    bottom: 0;
    right: 0;
}
#title {
    font-family:sans-serif;
    text-align: center;
    font-size: 2em;
    padding-top: 40px;
    padding-bottom: 30px;
}
#intro {
    width: 75vw;
    margin: 10px auto;
    text-indent: 2em;
    text-align: justify;
    font-size: 1em ;
    letter-spacing: 1px;
    line-height: 1.7em;

}